@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;800;900&display=swap');

html {
    scroll-behavior: smooth;
  }

body {
    font-size: 14px;
    font-family: Poppins,sans-serif;
    color: #242732;
}

.bg-image {
    background: url(../images/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar {
    padding-top: 35px;
}

.navbar-brand {
    font-size: 30px;
    color: white;
}

.offcanvas-header {
    justify-content: end;
}

.nav-link {
    color: black;
}

.info {
    padding-top: 15px;
}

    .info p {
        margin: 0px;
    }

.navbar .info a {
    text-decoration: none;
    font-size: 23px;
    color: black;
}

.pb-100 {
    padding-bottom: 100px;
}
about-detail {
    padding-top: 35%;
    padding-bottom: 100px;
}

.about-detail h5 {
    font-size: 40px;
    margin-bottom: 15px;
    color: white;
    font-weight: 400;
}

.about-detail h1 {
    font-size: 58px;
    margin-bottom: 10px;
    color: white;
    font-weight: bolder;
}

.about-detail p {
    font-size: 22px;
    color: white;
    line-height: 28px;
}

.about-detail button {
    border: none;
    padding: 15px 40px;
    margin-top: 15px;
    color: white;
    background: #ef6735;
}

    .about-detail button i {
        font-size: 15px;
        margin-left: 5px;
    }

.typing {
    position: relative;
    width: fit-content;
    padding-right: 20px;
}

    .typing::after {
        content: "|";
        position: absolute;
        right: 0;
        width: 100%;
        background: #ceb0b0;
        animation: typing 4s steps(18) infinite, caret 1s infinite;
    }

@-webkit-keyframes typing {
    to {
        width: 0;
    }
}

@keyframes typing {
    to {
        width: 0;
    }
}

@-webkit-keyframes caret {
    50% {
        color: transparent;
    }
}

@keyframes caret {
    50% {
        color: transparent;
    }
}

@media screen and (max-width:768px) {
    .about-detail h5 {
        font-size: 25px;
    }

    .about-detail h1 {
        font-size: 38px !important;
    }
}

@media screen and (max-width:500px) {
    .about-detail {
        padding-top: 15%;
        padding-bottom: 60px;
    }

        .about-detail h5 {
            font-size: 20px;
        }

        .about-detail h1 {
            font-size: 35px !important;
            margin-bottom: 5px !important;
        }
}

.banner-img {
    position: relative;
    width: 100%;
    height: 100vh;
}

    .banner-img img {
        position: absolute;
        bottom: 0px;
        width: 90%;
    }

@media screen and (max-width:768px) {
    .banner-img {
        height: 100%;
    }
}

@media screen and (max-width:500px) {
    .banner-img {
        height: auto;
    }

        .banner-img img {
            position: relative;
        }
}
.bg-color {
    background-color: #eaedf2;
}


.about-left img {
    width: 100%;
}

.about-right {
    padding-top: 80px;
    padding-bottom: 80px;
}

    .about-right h2 {
        font-size: 35px;
        color: black;
        font-weight: 600;
        margin-bottom: 10px;
    }

    .about-right h6 {
        color: #f90505;
        font-size: 20px;
        margin-bottom: 25px;
    }

    .about-right p {
        line-height: 35px;
        font-size: 16px;
        margin-bottom: 50px;
        letter-spacing: 0.2px;
        word-spacing: 0.5px;
    }

        .about-right p span {
            color: black;
            font-weight: 600;
            border-bottom: 3px solid red;
        }

    .about-right table tr td {
        padding: 10px;
    }

@media screen and (max-width:768px) {
    .about-right table tr td,
    .about-right table tr th {
        padding: 10px 0px;
        font-size: 13px;
    }
}

@media screen and (max-width:500px) {
    .about-right table tr td,
    .about-right table tr th {
        padding: 10px;
        font-size: 16px;
    }
}

.navbar-toggler {
    border-color: rgb(239, 103, 53);
    color
}

.navbar-toggler-icon {
    background-image: url(
        "data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(239, 103, 53)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}





.services {
    margin-top: 70px;
    margin-bottom: 100px;
}
.carousel .carousel-item {
    height: 650px;
  }
  
  .carousel-item img {
      position: absolute;
      top: 0;
      left: 0;
      min-height: 650px;
  }

.dev-projects {
    background-image: url(../images/background-img-999.png);
	height: auto;
	background-position: center center;
	background-size: cover;
	padding: 80px 0px 50px 0px;
}

.dev-projects .row {
	padding: 0 !important;
}

.dev-projects.dev-projects-content.trending-services
{
	background-image: url("../images/background-img-999.png");
}
.dev-projects.dev-projects-content.top-selling-services
{
	background-image: url("../images/background-img-999.png");
}
.dev-projects-content {
	position:relative;
	background-color:#F8F8F8;
}

.dev-proj {
	background-color: transparent;
}

.dev-proj a {
	text-decoration: none;
}

.heading-panel{
	margin-bottom: 50px;
	position:relative;
	z-index:999;
}

.heading-panel h2{
	font-size: 34px;
	margin-bottom: 0;
	color: #242424;
	font-weight: 600;
    line-height: 1.8;
}
.heading-panel h2 span{
	font-weight: 400;
}
.heading-projects-title
{
    font-family: 'Times New Roman', Times, serif;
}
.heading-projects-title p
{
    font-size: x-large;
}
.section-center {
	text-align: center;
	margin-bottom: 50px;
}

/*card*/
.project-card-grid {
	background-color: #fff;
	padding: 15px;
	box-shadow:1px 0px 20px rgba(0,0,0,0.07);
	margin-bottom:30px;
	border-radius:4px;
}

.project-img{
	position: relative;
	border-radius: 4px;
	overflow: hidden;
}

.project-img img{
	width: 100%;
    height: 250px;
}

.project-details {
	display: flex;
	flex-direction:column;
	overflow: hidden;
	padding-top: 15px;
}

.project-details .project-released-year p {
	margin: 0;
	color: #777;
	font-size: 14px;
}
.project-details .project-released-year {
	border-top:1px solid #ebebeb;
	padding-top: 10px;
	margin-top:15px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.project-details p span{
	color: #fe696a;
	font-weight: 500;
	font-size: 18px;
	margin-left: 5px;
	vertical-align: baseline;
}

.project-details i{
    font-size: 14px;
}

.project-details p span{
    font-size: 16px;
}

.project-content {
	position:relative;	
}

.project-content .dev-profile {
	position:relative;
	overflow:hidden;
	margin-bottom:10px;	
}

.project-content .dev-profile .dev-image {
	float: left;
	margin-right: 10px;	
}
.project-content .dev-profile .dev-profile-data {
	display:inline-block;
	line-height: 30px;	
}

.project-content .dev-profile .dev-profile-data .dev-name a {
	color:#242424;
	line-height: 30px;
	font-size:16px;
    font-family:'Times New Roman', Times, serif;
}


.project-content .dev-profile .dev-profile-data .fr-latest-member {
	color:#777;	
}
.project-content p {
	margin-bottom: 10px;
	font-size: 18px;
	line-height: 30px;
	font-weight: 500;
}
.project-content p a {
	color:#242424;
	text-transform:capitalize;
}
.project-content p a:hover {
	color:#fe696a;
}
.project-content span.reviews {
	color: #777;
	font-size: 14px;
	display:block;
}
.project-content span.reviews i{
	color: #fe696a;
	margin-right: 5px;
}
.project-content p.project-description {
	font-size:14px;
	color:#777;
	margin-bottom: 5px;
	display: block;	
}

.project-content img {
	max-width: 30px;
	border-radius: 50%;
}
.project-content p {
    font-size: 16px;

}	


.profile-cover
{
		height: 280px;
		background-position: center center;
		background-size: cover;
		background-repeat: no-repeat;
		background-image: url(../images/background-profile.jpg);
}

.developer-information
{
	background-color: #f0f0f0;
	padding-top:0 !important;
}

.developer-details{
	background-color: #FFF;
}

.developer-details .developer-projects ul li {
	float: left;
	text-align: center;
	list-style-type: none;
}
.developer-details .developer-projects::before {
	content: "";
	position: absolute;
	border-right: 1px solid #e9e9e9;
	top: 0;
	height: 100%;
	left: 50%;
}


.developer-details .developer-projects ul .ongoing-style {
	float: right;
}

.developer-details .developer-projects {
	overflow: hidden;
	border-bottom: 1px solid #e9e9e9;
	border-top: 1px solid #e9e9e9;
	padding: 20px 40px;
	position: relative;
}
.developer-identity {
	text-align: center;
	padding: 37px 0;
}
.developer-identity .developer-img {
	width: auto;
	background: #fff;
	max-width: 120px;
	border-radius: 4px;
	margin: 0 auto 20px;
	border: 1px solid #ebebeb;	
	border-radius: 4px;
    position: relative;
    overflow: hidden;
}
.developer-details .developer-projects ul li .projects-number span {
	font-size: 20px;
	font-weight: 500;
}

.developer-details .developer-projects ul li .projects-number p {
	font-size: 14px;
}


.developer-more-details ul {
	width:100%;
	list-style-type: none;	
}


.developer-more-details ul li {
	border-bottom: 1px solid #e9e9e9;
	padding: 15px 0;
}

.developer-more-details .dev-more-details-style span {
	font-size: 14px;
	color:#777;
	line-height:30px;
}
.developer-more-details ul li .dev-more-details-style p {
	color: #242424;
	font-size: 14px;
}


.developer-more-details {
	padding: 0 10px;
	padding-bottom: 0;
}
.developer-more-details ul li .dev-more-details-style span {
	font-size: 14px;
}

.developer-about-box {
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: top right;
    background-attachment: scroll;
	background-repeat:no-repeat;
	background-color: #FFF;
	padding: 30px;
	margin-bottom: 30px;
	border-radius: 4px;
}
.developer-about-box p {
	line-height: 30px;
	margin-bottom: 15px;
	font-size: 14px;

}
.developer-details, .developer-about-box {
	margin-top: 30px;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
  }
  
  .about-section {
    padding: 50px;
    text-align: center;
    background-color: #6182b4;
    color: white;
  }
  
  .container {
    padding: 0 16px;
  }
  
  .container::after, .row::after {
    
    display: table;
  }
  
  .title {
    color: grey;
  }
  .p{
    overflow: hidden;
    text-overflow: ellipsis;  
  }
  
  .button {
    border: none;
    outline: 0;
    display: block;
    padding: 8px;
    color: white;
    background-color: #6182b4;
    text-align: center;
    cursor: pointer;
    width:25%;
    border-radius: 10cm;
    margin:0 auto;
    
    
  }
  
  .button:hover {
    background-color: rgb(65, 137, 139);
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }






  .fr-contact-form {
	background-color: #fff;
	padding: 30px;
	border-radius: 12px;
	position: relative;
	overflow: hidden;
}

.fr-contact-form input {
	height: 48px;
	font-size: 14px;
	margin-bottom: 30px;
	background-color: #f0f0f0;
	border: none;
}

.fr-contact-form form {
	margin-top: 30px;
}

.fr-contact-form a {
	float: right;
	margin-top: 30px;
	display: inline-block;
}

.fr-contact-form ::placeholder {
    color: #242424;
   }

   .fr-contact-form label {
	display:block;
	margin-bottom: 20px;
}

.fr-contact-form label .wpcf7-form-control-wrap input.form-control, .fr-contact-form label .wpcf7-form-control-wrap textarea.form-control {
	margin-top:10px;
	margin-bottom: 0;
}


.fr-contact-form {
	padding: 25px 15px;
}

.fr-contact-form .fr-con-collection {
	float: left;
	margin-right: 16px;
	overflow: hidden;
	margin-top: 10px;
	width:40px;
}

.fr-contact-form .heading-contents-2 {
	overflow: hidden;
    font-family:Arial, Helvetica, sans-serif;
}

.heading-contents-2 h1 {
	margin-bottom: 15px;
    text-align: center;
}

.heading-contents-2 p {
	font-size: 16px;
	line-height: 22px;
}

.contact-section
{
	padding: 0px 0px 130px 0px;
	background-color: #F5F5F5;
}

.fr-contact {
	margin-top: 150px;
}

.btn-theme, .post-excerpt .wp-block-button .wp-block-button__link, .post-excerpt .wp-block-search__button, .post-excerpt .wp-block-file .wp-block-file__button, .post-password-form input[type="submit"], .woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt, .woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button  {
	padding:12px 30px;
    text-align: center;
	border-radius:4px;
	box-shadow:none;
	border:1px solid #fe696a;
	background-color:#fe696a;
	color:#FFF;
	text-decoration:none;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease- 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
.btn-theme:hover, .post-excerpt .wp-block-button .wp-block-button__link:hover, .post-excerpt .wp-block-search__button:hover, .post-excerpt .wp-block-file .wp-block-file__button:hover, .post-password-form input[type="submit"]:hover, .woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover, .woocommerce #respond input#submit:hover, .woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover   {
	box-shadow: 0 0.5rem 1.125rem -0.5rem rgba(254,105,106,0.9);
	color:#FFF;
	background-color:#fe696a;
}
.button-center{
    text-align: center;
}

.offcanvas-body ul li a:hover{
    color: #fe696a;
    
}
